<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JanetAI - Home</title>
    </head>

    <body>
        <h1>JanetAI</h1>
        <p>Welcome to JanetAI, The Discord bot for nsfw image generation.</p>

        <section>
            <h2>Commands</h2>
            <p>To run commands mention the bot then the command<code>@JanetAI help</code></p>
            <ul>
                <li><code>help</code> - Display the help message.</li>
            </ul>
        </section>
    </body>
</html>